In [1]:
import pandas as pd

In [2]:
retailMarket = retail = pd.read_csv("C:\\Users\\aytek\\Downloads\\Portfolio\\SampleSuperstore.csv")

In [3]:
retailMarket

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [4]:
retailMarket.drop_duplicates()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [8]:
retailMarket = retailMarket.drop( ["Country", "Discount", "Postal Code", "Ship Mode"], axis = 1)

In [6]:
retailMarket = retailMarket.rename( columns = {"Sub-Category": "Sub_Category"})

In [9]:
retailMarket

,Segment,City,State,Region,Category,Sub_Category,Sales,Quantity,Profit
0,Consumer,Henderson,Kentucky,South,Furniture,Bookcases,261.9600,2,41.9136
1,Consumer,Henderson,Kentucky,South,Furniture,Chairs,731.9400,3,219.5820
2,Corporate,Los Angeles,California,West,Office Supplies,Labels,14.6200,2,6.8714
3,Consumer,Fort Lauderdale,Florida,South,Furniture,Tables,957.5775,5,-383.0310
4,Consumer,Fort Lauderdale,Florida,South,Office Supplies,Storage,22.3680,2,2.5164
...,...,...,...,...,...,...,...,...,...
9989,Consumer,Miami,Florida,South,Furniture,Furnishings,25.2480,3,4.1028
9990,Consumer,Costa Mesa,California,West,Furniture,Furnishings,91.9600,2,15.6332
9991,Consumer,Costa Mesa,California,West,Technology,Phones,258.5760,2,19.3932
9992,Consumer,Costa Mesa,California,West,Office Supplies,Paper,29.6000,4,13.3200
9993,Consumer,Westminster,California,West,Office Supplies,Appliances,243.1600,2,72.9480

In [10]:
retailMarket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Segment       9994 non-null   object
 1   City          9994 non-null   object
 2   State         9994 non-null   object
 3   Region        9994 non-null   object
 4   Category      9994 non-null   object
 5   Sub_Category  9994 non-null   object
 6   Sales         9994 non-null   float64
 7   Quantity      9994 non-null   int64
 8   Profit        9994 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 702.8+ KB